<!DOCTYPE html>
<html>
<head>
  <title>TO-DO bRO!</title>
<!--  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
    {% load  staticfiles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <style>
  body {
      position: relative;
  }
  #section1 {padding-top:50px;height:550px;color: #fff; background-color: mediumpurple;}
  #section2 {padding-top:50px;height:550px;color: #fff; background-color: #00b2b4;}
  #section3 {padding-top:50px;height:550px;color: #fff; background-color: yellowgreen;}
  </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-inverse navbar-fixed-top navbar-success">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color: red;font-size: 22px">TO-DO bRO!</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li style="margin-left: 1100px;margin-top: 3px;"><button type="button" class="btn btn-warning btn-lg"><a href="login">login</a></button></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div id="section1"class="container-fluid">
  <h1 style="text-align: center; font-size: 50px;">Your work, your way</h1>
  <h2 style="text-align:center;">Customize your to do list on any Windows platform with the task manager that has been designed specifically for Microsoft’s modern products and features.</h2>
</div>
<div id="section2" class="container-fluid">
    <center>
  <h1>At your FingerPrints</h1>
  <h2>Plan your day and stay productive on-the-go with Todoist on your Windows Phone, desktop, and 2-in-1 laptop/tablet hybrid. Plus, you can access Todoist on 10+ other platforms.
</h2>
        </center>
</div>
<div id="section3" class="container-fluid">
    <center>
  <h1>Collaborate on shared tasks</h1>
  <h2>Assign and share tasks, discuss projects in real-time, and see beautifully displayed media with Todoist for Windows 10’s exclusive 3-pane view.
</h2>
    </center>
</div>
</body>
</html>
